
<div class="section no-pad-bot">
  <div class="container">
    <br><br>
    <h1 class="header center"></h1>
    <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/0a0/22b/218f2a7.jpg" alt="" class="circle main-image">
    <div class="row center">
      <h5 class="header col s12 light"><strong>Get to Know Me</strong> via API!</h5>
      <div class="col s12 m4 offset-m4">
        <p class="center-align light">Lists are boring. Get to know me by hitting the end-points documented below :)</p>
      </div>
    </div>
    <div class="row center">
      <a href="/api/v1/all" class="btn-large waves-effect waves-light teal lighten-1">Give Me Everything</a>
    </div>
    <br><br>
    <pre class=" language-markup">
      <code class=" language-markup">
        mike-solomon.com/api/v1/skills
      </code>
    </pre>

      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="http://p5.zdassets.com/hc/settings_assets/358209/200028867/OG42Cj5dLxxx3uojf9zx5A-JT_Black.png">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>I am currently a Product Manager at JackThreads. I get to build an awesome e-commerce website and solve interesting problems with a group of talented designers and engineers.</p>
            </div>
            <div class="card-action">
              <a href="www.jackthreads.com" target="_blank">JackThreads.com</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="http://www.coreonetechnologies.com/coreone/web/images/slide1/coreOneLogo-full.png">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>At CoreOne Technologies, I led projects that provided the world's largest hedge fund and asset management institutions with a cutting edge reporting platform.</p>
            </div>
            <div class="card-action">
              <a href="www.coreonetechnologies.com">This is a link</a>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="http://p5.zdassets.com/hc/settings_assets/358209/200028867/OG42Cj5dLxxx3uojf9zx5A-JT_Black.png" height="100%" width="100%"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>

  </div>
</div>

<!--
<div class="container">
  <div class="section">

      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="http://p5.zdassets.com/hc/settings_assets/358209/200028867/OG42Cj5dLxxx3uojf9zx5A-JT_Black.png">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="images/sample-1.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>

    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up development</h5>

          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="/background2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
</div>
-->