
<div class="section no-pad-bot">
  <div class="container">
    <br><br>
    <h1 class="header center"></h1>
    <img src="https://en.gravatar.com/userimage/90425387/cb995ce26dbbaac921d134b75917982d.jpg?size=150" alt="" class="circle main-image">
    <div class="row center">
      <h5 class="header col s12 light"><strong>Get to Know Me</strong> via API!</h5>
      <div class="col s12 m4 offset-m4">
        <p class="center-align light">Get to know me by hitting the end-points documented below :)</p>
      </div>
    </div>
    <div class="row center">
      <a href="/api/v1/all" class="btn-large waves-effect waves-light teal lighten-1">Get Everything</a>
    </div>
    <br><br>
    <ul class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle green">public</i>
        <span class="title">Experience</span>
        <p>
          <code class=" language-markup">
            mike-solomon.com/api/v1/experience
          </code>
        </p>
        <a href="/api/v1/experience" class="secondary-content"><i class="material-icons">launch</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle blue">build</i>
        <span class="title">Skills</span>
        <p>
          <code class=" language-markup">
            mike-solomon.com/api/v1/skills
          </code>
        </p>
        <a href="/api/v1/skills" class="secondary-content"><i class="material-icons">launch</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle yellow">school</i>
        <span class="title">Education</span>
        <p> 
          <code class=" language-markup">
            mike-solomon.com/api/v1/education
          </code>
        </p>
        <a href="/api/v1/education" class="secondary-content"><i class="material-icons">launch</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">All</span>
        <p>
          <code class=" language-markup">
            mike-solomon.com/api/v1/all
          </code>
        </p>
        <a href="/api/v1/all" class="secondary-content"><i class="material-icons">launch</i></a>
      </li>
    </ul>
  </div>
</div>