
<div class="section no-pad-bot">
  <div class="container">
    <br><br>
    <h1 class="header center"></h1>
    <img src="https://en.gravatar.com/userimage/90425387/cb995ce26dbbaac921d134b75917982d.jpg?size=150" alt="" class="circle main-image">
    <div class="row center">
      <h5 class="header col s12 light"><strong>Efficiency Nerd. Living in New York City.</strong></h5>
      <div class="col s12 m6 offset-m3">
        <p class="center-align light">Hi! I'm Mike, a Product Manager at <a href="//jackthreads.com" target="_blank">JackThreads</a>. I get to build an awesome eCommerce website while solving interesting problems with a team of talented designers and developers. I'll be posting things here about product development, design and coding.</p>
      </div>
    </div>
    <div class="row center">
      <a href="/api/documentation" class="btn-large waves-effect waves-light teal lighten-1">Get To Know Me</a>
    </div>
    <br><br>
  </div>
</div>

<div class="row">
  <div class="col s12 center">
    <br><br>
    <h4>Posts</h4>
  </div>
</div>

<div class="container">
  <div class="section no-pad-bot">
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
          <img src="/img/deployer-stage.png">
          <div class="card-title white-text teal">
            Draft
          </div>
          </div>
          <div class="card-content">
            <p>Notice that dropdown on the GitHub screenshot? In this post, I walk through a chrome extension that I built to deploy branches to our staging servers at JackThreads.</p>
          </div>
          <div class="card-action">
            <a href="/apollo-chrome-extension">Read More</a>
            <a href="/apollo-chrome-extension#disqus_thread"><i class="material-icons">comments</i></a>
          </div>
        </div>
      </div> 
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
          <img src="http://www.technobuffalo.com/wp-content/uploads/2015/02/instagram.jpeg">
          <div class="card-title" style="text-shadow: 1px 1px #000;">
            Do The Simple Thing First: The Engineering Behind Instagram
          </div>
          </div>
          <div class="card-content">
            <p>Building a product? Learn a lesson from Instagram: Do the simple thing first. A compelling story about how Instagram was able to scale at an extraordinary rate.</p>
          </div>
          <div class="card-action">
            <a href="http://www.fastcompany.com/3047642/tech-forecast/do-the-simple-thing-first-the-engineering-behind-instagram" target="_blank">Fast Company</a>
          </div>
        </div>
      </div>    
    </div>
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <blockquote class="twitter-tweet" lang="en"><p lang="nl" dir="ltr">QA Engineer walks into a bar. Orders a beer. Orders 0 beers. Orders 999999999 beers. Orders a lizard. Orders -1 beers. Orders a sfdeljknesv.</p>&mdash; Bill Sempf (@sempf) <a href="https://twitter.com/sempf/status/514473420277694465">September 23, 2014</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            <p>I really like this tweet. QA Engineers who have a hacker mindset can do wonders for your product! Read some witty responses in the link below.</p>
          </div>
          <div class="card-action">
            <a href="http://www.sempf.net/post/On-Testing1.aspx" target="_blank">Bill Sempf</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
          <img src="https://fbexternal-a.akamaihd.net/safe_image.php?d=AQCKEtnefi9niP6x&w=487&h=255&url=http%3A%2F%2Fcdn.theatlantic.com%2Fassets%2Fmedia%2Fimg%2Fmt%2F2015%2F07%2Fnava_6%2Ffacebook.jpg%3FGE2DGNRSHE4DEMZQFYYA%3D%253D%253D%253D&cfs=1&upscale=1&sx=3&sy=0&sw=955&sh=500">
          <div class="card-title" style="text-shadow: 1px 1px #000;">
            The Secret Startup That Saved the Worst Website in America
          </div>
          </div>
          <div class="card-content">
            <p>Interesting article that demonstrates how determination coupled with the proper tools/methodologies can turn around a failing project.</p>
          </div>
          <div class="card-action">
            <a href="http://www.theatlantic.com/technology/archive/2015/07/the-secret-startup-saved-healthcare-gov-the-worst-website-in-america/397784/?single_page=true" target="_blank">The Atlantic</a>
          </div>
        </div>
      </div>    
    </div>
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
          <img src="https://s3-us-west-2.amazonaws.com/useronboard/applemusic/slide-001.jpg">
          </div>
          <div class="card-content">
            <p><a href="http://twitter.com/samuelhulick" target="_blank">Samuel Hulick</a> gives a humorously annotated walkthrough of Apple Music through the eyes of a user who opens the app for the first time.</p>
          </div>
          <div class="card-action">
            <a href="http://www.useronboard.com/how-applemusic-onboards-new-users/" target="_blank">User Onboarding</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
          <img src="https://www.brandtale.com/assets/logo-2-f99e54f550883dbe5ca1edcd8f5b9d32.png">
          </div>
          <div class="card-content">
            <p>A showcase of the best in native content around the web. Brands and publishers can see who is launching the best campaigns all in one place.</p>
          </div>
          <div class="card-action">
            <a href="https://www.brandtale.com/" target="_blank">Brandtale</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
          <img src="https://d3ibatyzauff7b.cloudfront.net/assets/flat2/algolia/algolia1200x500_15Q2-7f91c3b0ea7f8fec22afe44a1768d31aa2b0dc9a8eb619ed6b74cd6d930ac687.png">
          </div>
          <div class="card-content">
            <p>Algolia is a search API that makes it easy to plug in to your site and deliver results in miliseconds. Check them out!</p>
          </div>
          <div class="card-action">
            <a href="https://www.algolia.com/" target="_blank">Algolia</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
          <img src="http://si.wsj.net/public/resources/images/BN-FO463_edp111_P_20141116151536.jpg">
          </div>
          <div class="card-content">
            <p>A great read about the first major cyberweapon that pioneered the crossover from digital destruction to physical destruction. Zetter provides some interesting insight about the architecture of the code as well as its impact on global diplomacies.</p>
          </div>
          <div class="card-action">
            <a href="http://www.theatlantic.com/technology/archive/2015/07/the-secret-startup-saved-healthcare-gov-the-worst-website-in-america/397784/?single_page=true" target="_blank">Amazon</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Disqus -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'mikesolomon';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>