/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.jira-welcome {
    background: url(http://i.imgur.com/iTT6LY7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 550px;
    color: white;
    padding-left: 90px;
}
.jira-welcome .stick-to-bottom {
  padding-top: 310px;
}
.lead-in {
  font-size: 1.64rem;
  font-weight: normal;
}

.language-markup {
  background: #f5f2f0;
  border: solid 1px rgba(51, 51, 51, 0.12);
}
.main-image {
  display: block;
  margin: auto;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}